/* ---------------------------------------
Start Configurations 
----------------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;


}

/* ---------------------------------------
Footer
----------------------------------------- */

.wrapper {

    min-height: 100%;	
    margin-bottom: -50px;

}

#footer,
push {
    height: 50px;


}

/* ---------------------------------------
Other Parts
----------------------------------------- */
#navbar-content{
    text-align: center;
    color: white;
    margin-left: 25px;
}
/* Block type effect and button job */
.block-position{

    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Btn Job Opportunities (Home.Html) */
#btn-job{
    width: 270px;
    font-size: 22px;
    border-radius: 30px;
    margin-bottom: -50px;
}