{% extends 'base.html' %} 
{% block title%}  Home {% endblock title%}

<!-- Page Content -->
{% block content %}
<!-- <h1 class="text-primary text-center">Home Page</h1> -->

<div class="block-position">
    <h1 class="text-light">We <span class="text-warning">Typed effect Here...</span></h1>
    <a href="{% url 'opportunities' %}" class="btn btn-outline-warning border-light mt-4 mt-sm-5" id="btn-job">
        <i class="fas fa-chart-pie"> </i> &nbsp;&nbsp; Job Opportunities    
    </a>
</div>

{% endblock content %}
